server:
  port: ${PORT:8000}

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: movies
              uri: ${MOVIES_SERVICE_URL:http://localhost:8081/}
              predicates:
                - Path=/api/movies/**
              filters:
                - FeatureFlag=${GRADUAL_MIGRATION:true},${MONOLITH_URL:http://localhost:8080/},${MOVIES_MIGRATION_PERCENT:50}
            - id: users
              uri: ${MONOLITH_URL:http://localhost:8080/}
              predicates:
                - Path=/api/**

logging:
  level:
    org:
      springframework:
        cloud:
          gateway: trace
