apiVersion: v1
kind: ConfigMap
metadata:
  name: cinemaabyss-config
  namespace: cinemaabyss
data:
  # Database configuration
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_NAME: "cinemaabyss"
  DB_USER: "postgres"

  # Service URLs
  EVENTS_SERVICE_URL: "http://events-service:8082"
  MONOLITH_URL: "http://monolith:8080"
  MOVIES_SERVICE_URL: "http://movies-service:8081"

  # Strangler Fig configuration
  GRADUAL_MIGRATION: "true"
  PROXY_SERVICE_PORT: "8000"
  MOVIES_MIGRATION_PERCENT: "50"

  # Events service configuration
  EVENTS_SERVICE_PORT: "8082"
  KAFKA_BROKERS: "kafka:9092"
